{% extends "base.html" %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-6 mx-auto">
        <form method="GET" action="{{ url_for('index') }}" class="d-flex">
            <input type="search" name="search" class="form-control me-2" placeholder="Search movies..." value="{{ request.args.get('search', '') }}">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for movie in movies %}
    <div class="col">
        <div class="card h-100">
            {% if movie.poster_url %}
            <img src="{{ movie.poster_url }}" class="card-img-top" alt="{{ movie.title }}">
            {% else %}
            <div class="card-img-top bg-secondary text-center py-5">
                <i class="fas fa-film fa-3x"></i>
            </div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">{{ movie.description }}</p>
                <p class="badge bg-secondary">{{ movie.genre }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ movie.download_url }}" class="btn btn-primary w-100" target="_blank">
                    <i class="fas fa-download me-2"></i>Download
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
